@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #090909;
    color: #FFFFFF;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* Header styles 
#########################
*/

header {
    background-color: #B6590D;
    color: white;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 1;
    border-radius: 0 0 4px 4px;
}

.cta {
    display: inline-block;
    padding: 20px 40px;
    font-size: larger;
    color: white;
    text-decoration: none;
}

.cta:hover {
    cursor: pointer;
    background-color: #000000;
}


/* Class greet styles 
#########################
*/

.greet {
    
    padding: 50px 0;
    margin-top: 100px;
    line-height: 2;
    text-align: center;
}

.greet h1 {
    color: #0092CC;
}

/* Article styles
######################### 
*/

.aboutMe {
    text-align: left;
    margin-top: 100px;
    margin-left: 100px;
    width: 500px;
    line-height: 25px;
}

.wish {
    text-align: left;
    margin-top: 20px;
    margin-left: 100px;
    width: 500px;
    color: #0092CC;
    line-height: 25px;
}

.goal {
    text-align: left;
    margin-top: 20px;
    margin-left: 100px;
    width: 500px;
    line-height: 25px;
}

.skills {
    text-align: left;
    margin-top: 20px;
    margin-left: 100px;
    width: 500px;
    line-height: 25px;
}

.blue {
    color: #0092CC;
    font-weight: bold;
}

.spareTime {
    text-align: left;
    margin-top: 230px;
    width: 500px;
    color: #FFFFFF;
    position: relative;
    left: 775px;
    bottom: 669px;
    line-height: 25px;
}

span {
    color: #0092CC;
}

/*  CTAmsg Styles
###########################
 */

.CTAmsg {
    margin-left: 200px;
}

form {
    width: 400px;
    margin-bottom: 100px;
    padding-top: 20px;
}

textarea {
    padding: 5px;
}

.contactMe:hover {
    border: 1px solid #B6590D;
}

.listHeader {
    list-style-type: none;
}

.submit:hover {
    opacity: 50%;
}

/* socialMedia styles
########################
 */

.socialMedia {
    position: absolute;
    left: 800px;
    top: 1300px;
    text-align: center;
}

.rotate:hover {
    transform: rotate(180deg);
    opacity: 0.5;
}

.rotate {
    margin: 5px;
}
